@font-face {
  font-family: "IRANSans";
  src: url("../webfonts/irsans/IRANSansWeb_Bold.eot");
  src:
  url("../webfonts/irsans/IRANSansWeb_Bold.woff") format("woff"),
  url("../webfonts/irsans/IRANSansWeb_Bold.ttf") format("ttf");
  
  }
html,
body {
  margin: 0;
  direction: rtl !important;
  font-family: 'IRANSans', tahoma, sans-serif !important;
  padding: 0;
}

#root {
  direction: rtl;
  text-align: right;
}

.font-smaller {
  font-size: 8pt !important;
}

.font-small {
  font-size: 10pt !important;
}

.font-large {
  font-size: 12pt !important;
}

.font-xlarge {
  font-size: 14pt !important;
}

.font-xxlarge {
  font-size: 16pt !important;
}

.font-xxxlarge {
  font-size: 18pt !important;
}
.font-giant {
  font-size: 20pt !important;
}

.font-super-giant {
  font-size: 24pt !important;
}
.text-bold-success{
  color:#08794f
}
.w-20{
  width: 20% !important;
}
.calendarContainer{
  top:100px !important
}
.curved-border{
  border-radius: 22px !important;
}
.is-invalid{
  border: 1px solid #dc3545 !important;
}
.rc-date-input.is-invalid,
.rc-dropdown.is-invalid {
  border: 1px solid #dc3545 !important;
}
.ant-input{
  border-radius: 22px !important;
}
.invalid-feedback.is-invalid-feedback,
.was-validated .rc-dropdown:invalid ~ .invalid-feedback,
.was-validated .rc-dropdown:invalid ~ .invalid-tooltip, 
.rc-dropdown.is-invalid ~ .invalid-feedback,
.rc-dropdown.is-invalid ~ .invalid-tooltip {
  display: inline list-item !important;
}












a{
  text-decoration: none;
}
a:hover{
  text-decoration: none !important;
  font-weight: 400 !important;
}

.leftSide{
  float: left !important;
  text-align: left;
}

.center{
  float: initial;
  text-align: center !important;
  margin: 0 auto !important;
}
.rightSide{
  float: right !important;
  text-align: right;
}
.icon{
  margin: 5px !important ;
}
.w-90{
  width: 90%;
}
.w-95{
  width: 95%;
}
.back-red{
  background-color: #FF4F4F;
}
.font-red{
  color: #FF4F4F;
}